@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Helvetica, sans-serif;
}

/* For global CSS */
.range-slider .range-slider__track {
  background-color: #7A3DAF; /* Replace with your desired color */
  height: 6px; /* Customize track height */
}

.range-slider .range-slider__thumb {
  background-color: #7A3DAF; /* Customize thumb color */
  width: 20px; /* Customize thumb size */
  height: 20px;
}
