/* styles/Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;

}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 40px;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navLinks li {
  font-size: 16px;
  font-weight: 500;
}

.navLinks a {
  color: #555;
  text-decoration: none;
}

.navLinks a:hover,
.activeLink {
  color: #51adf6;
  font-weight: 600;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profileIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
